body{
    background-color: #252525;
    display: flex;
    justify-content: center;
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    gap: 150px;
}

.up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bottom{
    display: flex;
    justify-content: center;
    justify-content: center;
    width: auto;
    height: 100%;
}

#mapa {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border-spacing: 0px;
}

img{
    width: auto;
    height: 80px;
}

td {
    width: 50px;
    height: 50px;
    border: 0px solid green;
    text-align: center;
}

#casa {
    background-color: green;
}

#grama {
    background-color: green;
}

#arvore {
    background-color: green;
}

#lago {
    background-color: green;
}

.container img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: filter .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

.container img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}